@import "tailwindcss";

@theme {
  /* Define your BMU Global Palette here for v4 */
  --color-bmu-blue: #0033CC;
  --color-bmu-green: #66FF00;
  --color-bmu-maroon: #8E4B8E;
  --color-bmu-slate: #F8FAFC;
  
  --shadow-medical: 0 10px 40px -10px rgba(0, 51, 204, 0.15);
}

/* Base Styles */
@layer base {
  body {
    background-color: var(--color-bmu-slate);
    color: #0f172a; /* Slate 900 */
    @apply antialiased;
  }
}